.container {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 200px;
  color: #fff;
  text-align: right;
  .location {
    font-size: 30px;
  }
  .coordinate {
    font-weight: bold;
    span{
      display: block;
    }
  }
}

@media (max-width: 576px) {
  .container {
    top: 25px;
    right: 10px;
    .location{
      font-size: 20px;
    }
    .coordinate{
      font-size: 12px;
    }
  }
}
