.container {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100vw;
  background: rgba(0,0,0,0.5);
  padding: 20px 25px;
  .wrapper {
    display: grid;
    grid-template-columns: 400px repeat(6, 1fr);
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
    .item {
      position: relative;
      align-self: center;
      height: 210px;
      border: 1px solid #fff;
      border-radius: 10px;
      color: #fff;
      padding: 20px 30px;
      .icon {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
      }
      .details {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .week {
          text-align: center;
          width: max-content;
          padding: 3px 23px;
          background: #333431;
          border-radius: 50px;
        }
        .temp {
          color: #a4a4a4;
          font-size: 12px;
        }
      }
      &:first-child {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        height: 230px;
        .icon {
          position: initial;
          justify-self: right;
          align-self: center;
          transform: translateX(0);
          width: 100%;
          img{
            display: block;
            width: 120%;
          }
        }
        .details {
          justify-content: center;
          align-items: initial;
          .week {
            padding: 5px 30px;
          }
          .temp {
            color: #fff;
            font-size: 16px;
            .max {
              margin: 20px 0 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container{
    overflow: scroll;
    .wrapper{
      grid-template-columns: 340px repeat(6, 1fr);
      .item{
        padding: 20px 10px;
        .details{
          .week{
            padding: 3px 15px;
          }
          .temp{
            width: 90px;
          }
        }
        &:first-child{
          gap: 0;
          .icon{
            img{
              transform: translateX(-20px);
            }
          }
          .details {
            .temp {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}